POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB=lakeagent_db
POSTGRES_DB_USER=lakeagent
POSTGRES_DB_PASSWORD=lakeagent123

DATALAKE_DIR=/data/Data-Lake

OPENAI_API_KEY=
OPENAI_MODEL_NAME=
OPENAI_EMBEDDING_MODEL_NAME=
OPENAI_BASE_URL=
OPENAI_EMBEDDING_DIMENSIONS=