POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB=lakeagent_db
POSTGRES_DB_USER=lakeagent
POSTGRES_DB_PASSWORD=lakeagent123

MINIO_HOST=localhost
MINIO_PORT=9000
MINIO_USER=lakeagent
MINIO_PASSWORD=lakeagent123
MINIO_BUCKET=datalake
MINIO_SECURE=false
